﻿@model IEnumerable<LondonTfl.Models.TflArrivals>

<h2>@ViewBag.Title</h2>
<table border="1">
    <tr>
        <th>Destination Name</th>
        <th>Line Name</th>
        <th>Expected Arrival</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.destinationName</td>
            <td>@e.linename</td>
            <td>@e.expectedArrival</td>
        </tr>
    }
</table>