﻿@model IEnumerable<LondonTfl.Models.TflStopPoint>
<style>
    #map {
        width: 500px;
        height: 400px;
    }
</style>
<h2>@ViewBag.Title</h2>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Station Naptan</th>
            <th>Lat</th>
            <th>Lon</th>
            <th></th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@e.commonName, "Arrivals", "Home", new {id = e.id}, null)
                </td>
                <td>@e.naptanId</td>
                <td>@e.lat</td>
                <td>@e.lon</td>
                <td onclick="marker(@e.lat.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")), @e.lon.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")))">Show on the map</td>
            </tr>
        }
    </table>
</div>
@section SideBar {
    <div id="map"></div>
}
    


