﻿@model IEnumerable<LondonTfl.Models.Types>

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@e.name, "StopPoints", "Home", new { type = e.name }, null)
            </td>
        </tr>
    }
</table>

